@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%
}
@layer base{ 
  input:focus + label span,
  input:valid + label span{
      color: rgba(216, 180, 253);
      transform: translateY(-26px);
  }
  span {
      display: inline-block;
      transition: 0.3s cubic-bezier(0.65, -0.55, 0.265, 1.55);
  }
}

@font-face {
  font-family: 'Auto-techno';
  src: local('Auto-techno'), url('./assets/fonts/auto-techno/auto-techno.ttf') format('truetype');
};

@font-face {
    font-family: 'Equinox';
    src: local('Equinox'), url('./assets/fonts/equinox/Equinox\ Regular.woff') format('woff');
};

@font-face {
    font-family: 'Equinox-bold';
    src: local('Equinox-bold'), url('./assets/fonts/equinox/Equinox\ Bold.woff') format('woff');
};

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Righteous');